.DS_Store
.env
**/*.iml
**/.idea
**/.project*
**/.tern-project
**/.settings
**/.classpath
**/target
**/classes
**/.gradle
**/build/
**/out/
**/bin/
**/volumes/
**/.vscode
view/.prettierrc.json
view/**/*.bak
**/nbactions.xml
**/nb-configuration.xml
**/.nb-gradle

**/*.war
**/*.jar
**/*.tgz

**/.fusebox
**/node_modules
**/npm-debug.log
**/dist
**/.nuxt

######################
# Maven
######################
/target/**

**/coverage

.pmd
.checkstyle
.pmdruleset.xml