<configuration>

	<property resource="bootstrap.properties" />
	<contextName>${spring.application.name}</contextName>

	<!-- "This makes it reasonable for real-world applications to use the jul-to-slf4j 
		bridge." see https://logback.qos.ch/manual/configuration.html#LevelChangePropagator -->
	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- with docker profile overwrite STDOUT appender to use JSON encoder -->
	<springProfile name="docker">
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="net.logstash.logback.encoder.LogstashEncoder"></encoder>
		</appender>
	</springProfile>

	<root level="${log.root.level:-INFO}">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="de.cxp.ocs" level="${log.ocs.level:-DEBUG}" />
	<logger name="de.cxp.ocs.elasticsearch" level="${log.ocs.level:-DEBUG}" />

</configuration>
